<form [formGroup]="clientSignUpForm" (ngSubmit)="onSubmitForm()" class="d-grid col-md-6 mx-auto text-start">
    <div class="mb-3">
        <label for="username" class="form-label">Identifiant</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input formControlName="userName" type="email" class="form-control" id="username"
                aria-describedby="usernameHelp">
        </div>
        <div id="usernameHelp" class="form-text">Doit être une adresse mail valide</div>
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label">Mot de passe</label>
        <div class="input-group">
            <input formControlName="userPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                id="userPassword" aria-describedby="passwordHelp">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }"
                        (click)="toggleFieldTextType()">
                    </i>
                </span>
            </div>
        </div>
        <div id="passwordHelp" class="form-text">De 8 à 12 charactères, doit contenir au moins 1 majuscule, 1 minuscule,
            1 chiffre et 1 charactère spécial</div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>