<div class="text-center">
    <h1>Créer un compte</h1>

    <div class="row mx-2 account-type">
        <button type="button" (click)="displayForm(false)"
            class="col-12 col-md btn btn-outline-primary btn-lg my-2 mx-0 mx-md-2 py-3" data-bs-toggle="modal"
            data-bs-target="#signUpForm">
            Client
        </button>
        <button type="button" (click)="displayForm(true)"
            class="col-12 col-md btn btn-outline-primary btn-lg my-2 mx-0 mx-md-2 py-3" data-bs-toggle="modal"
            data-bs-target="#signUpForm">
            Artiste
        </button>
    </div>

    <div class="modal fade" id="signUpForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un compte {{ isArtist ? 'Artiste' : 'Client' }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-sign-up-form [isArtist]="isArtist"></app-sign-up-form>
                </div>
            </div>
        </div>
    </div>


</div>