.logo {
    width: 5em;
    height: auto;
}

.main-nav li {
    width: 10em;
    background-image: url("../../../assets/resources/images/transparent-ripped-paper.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.main-nav a {
    margin-top: -0.5em;
}

.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.dropdown-menu {
    position: absolute;
}

#account-options a {
    cursor: pointer;
}