<form [formGroup]="updatePwdForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Mot de passe actuel</label>
        <div class="input-group">
            <input formControlName="oldPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                id="oldPassword">
            <div class="input-group-append">
                <button type="button" class="input-group-text" (click)="toggleFieldTextType()">
                    <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }">
                    </i>
                </button>
            </div>
        </div>
        <div *ngIf="submitted && updatePwdForm.controls['oldPassword'].getError('required')" class="p-1 alert-danger">
            Ce champ est obligatoire
        </div>
    </div>

    <div class="mb-3">
        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
        <div class="input-group">
            <input formControlName="newPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                id="newPassword" aria-describedby="passwordHelp">
            <div class="input-group-append">
                <button type="button" class="input-group-text" (click)="toggleFieldTextType()">
                    <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }">
                    </i>
                </button>
            </div>
        </div>
        <div *ngIf="!submitted" id="passwordHelp" class="form-text">De 8 à 12 charactères, doit contenir au moins 1
            majuscule, 1 minuscule, 1 chiffre et 1 charactère spécial</div>
        <div *ngIf="submitted && updatePwdForm.controls['newPassword'].getError('required')" class="p-1 alert-danger">
            Ce champ est obligatoire
        </div>
        <div *ngIf="submitted && (updatePwdForm.controls['newPassword'].getError('pattern'))" class="p-1 alert-danger">
            Format invalide (De 8 à 12 charactères, doit contenir au moins 1
            majuscule, 1 minuscule, 1 chiffre et 1 charactère spécial)
        </div>
    </div>
    <div *ngIf="success" class="bg-success p-2 text-dark bg-opacity-25 border border-2 border-success mb-1">
        Les modifications ont bien été prises en compte
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>