<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> Dulk</h5>
            <a data-bs-toggle="modal" data-bs-target="#artistProfile">
                <img src="../../../assets/resources/images/artists/dulk.png" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> James Jean </h5>
            <a>
                <img src="../../../assets/resources/images/artists/james_jean.jpg" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> Joe Fenton </h5>
            <a>
                <img src="../../../assets/resources/images/artists/joe_fenton.jpeg" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> Dulk</h5>
            <a>
                <img src="../../../assets/resources/images/artists/dulk.png" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> James Jean </h5>
            <a>
                <img src="../../../assets/resources/images/artists/james_jean.jpg" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="card h-100 border-0" style="width: 18rem;">
        <div class="card-content text-center">
            <h5 class="card-title h3"> Joe Fenton </h5>
            <a data-bs-toggle="modal" data-bs-target="#artistProfile">
                <img src="../../../assets/resources/images/artists/joe_fenton.jpeg" class="card-img-top" alt="...">
                <span class="h6 d-block bg-dark bg-opacity-50 text-light py-1 small">(voir le profil)</span>
            </a>
            <div class="card-body">
                <button class="btn btn-outline-dark">Choisir cet artiste</button>
            </div>
        </div>
    </div>
</div>

<!-- Modale -->

<div class="modal fade" id="artistProfile" tabindex="-1" aria-labelledby="artistProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="artistProfileLabel">James Jean</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>