<form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()" class="d-grid m-2 text-start needs-validation" novalidate>
    <div class="mb-3" [ngClass]="{'d-none': isArtist == false}">
        <label for="artistname" class="form-label mandatory">Nom d'artiste</label>
        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-brush"></i>
            </span>
            <input formControlName="artistName" type="text" class="form-control" id="artistname"
                aria-describedby="artistnameHelp">
        </div>
        <div *ngIf="!submitted" id="artistnameHelp" class="form-text">
            De 2 à 20 charactères
        </div>
        <div *ngIf="submitted && signUpForm.controls['artistName'].getError('required')" class="p-1 alert-danger">
            Ce champ est obligatoire
        </div>
        <div *ngIf="submitted && 
                    (signUpForm.controls['artistName'].getError('minLength') || signUpForm.controls['artistName'].getError('maxLength'))"
            class="p-1 alert-danger">
            Nombre de caractères invalide (doit être compris entre 2 et 20)
        </div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label mandatory">Identifiant</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input formControlName="userName" type="email" class="form-control" id="username"
                aria-describedby="usernameHelp">
        </div>
        <div *ngIf="!submitted" id="usernameHelp" class="form-text">Doit être une adresse mail valide</div>
        <div *ngIf="submitted && signUpForm.controls['userName'].getError('required')" class="p-1 alert-danger">
            Ce champ est obligatoire
        </div>
        <div *ngIf="submitted && (signUpForm.controls['userName'].getError('email'))" class="p-1 alert-danger">
            Veuillez saisir une adresse mail valide
        </div>
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label mandatory">Mot de passe</label>
        <div class="input-group">
            <input formControlName="userPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                id="userPassword" aria-describedby="passwordHelp">
            <div class="input-group-append">

                <button type="button" class="input-group-text" (click)="toggleFieldTextType()">
                    <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }">
                    </i>
                </button>

            </div>
        </div>
        <div *ngIf="!submitted" id="passwordHelp" class="form-text">De 8 à 12 charactères, doit contenir au moins 1
            majuscule, 1 minuscule, 1 chiffre et 1 charactère spécial</div>
        <div *ngIf="submitted && signUpForm.controls['userPassword'].getError('required')" class="p-1 alert-danger">
            Ce champ est obligatoire
        </div>
        <div *ngIf="submitted && (signUpForm.controls['userPassword'].getError('pattern'))" class="p-1 alert-danger">
            Format invalide (De 8 à 12 charactères, doit contenir au moins 1
            majuscule, 1 minuscule, 1 chiffre et 1 charactère spécial)
        </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">
            Créer un compte <span class="fw-bold">{{ isArtist? 'Artiste' :
                'Client' }}</span>
        </button>
    </div>
</form>