<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col-md row row-cols-2 row-cols-md-3 g-4 mt-0 ms-1">
            <p class="w-100 mt-0 ps-0 h5">Choisir un médium</p>
            <div *ngFor="let medium of mediumList" class="form-check col mt-0">
                <input formControlName="artMediumId" class="form-check-input" type="radio" [id]="'medium' + medium.id"
                    [value]="medium.id">
                <label class="form-check-label mandatory" [for]="'medium' + medium.id">
                    {{ medium.label | titlecase }}
                </label>
            </div>
            <div *ngIf="submitted && searchForm.controls['artMediumId'].getError('required')"
                class="p-1 alert-danger w-100 mt-0">
                Choisissez un médium
            </div>
        </div>

        <div class="mb-3 col-md">
            <hr class="d-md-none">
            <label for="format" class="form-label h5 mandatory">Choisir un format</label>
            <select formControlName="artFormatId" id="format" class="form-select" aria-label="Default select example">
                <option *ngFor="let format of formatList" [value]="format.id">{{ format.label | titlecase }}</option>
            </select>
            <div *ngIf="submitted && searchForm.controls['artFormatId'].getError('required')" class="p-1 alert-danger">
                Choisissez un format
            </div>
        </div>
    </div>

    <div class="mb-3">
        <hr>
        <label for="description" class="form-label h5 mandatory">Description du projet</label>
        <textarea formControlName="description" class="form-control" id="description" rows="3"
            aria-describedby="descriptionHelp"></textarea>
        <div *ngIf="!submitted" id="descriptionHelp" class="form-text">De 20 à 255 caractères</div>
        <div *ngIf="submitted && searchForm.controls['description'].getError('required')" class="p-1 alert-danger">
            Décrivez l'illustration de vos rêves
        </div>
        <div *ngIf="submitted && 
            (searchForm.controls['description'].getError('minlength') || searchForm.controls['description'].getError('maxlength'))"
            class="p-1 alert-danger">
            Nombre de caractères invalide (doit être compris entre 20 et 250)
        </div>
    </div>

    <div class="mb-3">
        <hr>
        <label for="deadline" class="form-label h5 mandatory">Date maximale de rendu</label>
        <input formControlName="deadline" type="date" id="deadline" class="form-control">
        <div class="p-1 alert-danger"
            *ngIf="submitted && (searchForm.getError('mismatch') || searchForm.controls['deadline'].getError('required'))">
            Choisissez une date à venir
        </div>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Rechercher</button>
</form>