<h1 class="mb-3 h2">Se connecter</h1>
<form class="d-grid col-md-6 mx-auto" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
    <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="userName" type="email" class="form-control" id="username" aria-describedby="usernameHelp"
                ngModel>
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <div class="input-group">
            <input name="userPassword" [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password"
                ngModel>
            <div class="input-group-append">

                <button type="button" class="input-group-text" (click)="toggleFieldTextType()">
                    <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }">
                    </i>
                </button>
            </div>
        </div>
    </div>
    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
</form>

<div class="text-center">
    <button class="btn btn-link mt-5" data-bs-toggle="modal" data-bs-target="#passwordModal">J'ai oublié mon mot
        de passe</button>

    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">Recevoir un nouveau mot de passe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div *ngIf="!showMsg" class="modal-body">
                    <form #lostPwdForm="ngForm" (ngSubmit)="lostPassword(lostPwdForm)">
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Veuillez saisir votre adresse mail</label>
                            <input type="email" name="userMail" class="form-control" id="userEmail"
                                aria-describedby="emailHelp" ngModel>
                            <div id="emailHelp" class="form-text">Votre email restera strictement confidentiel</div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="showMsg" class="modal-body bg-success p-5 bg-opacity-25">
                    <p class="fw-bold h4 text-dark">Un email vous a été envoyé</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>