<div class="text-center">

    <h1>Mon profil privé</h1>
    <div *ngIf="userNames.firstName != null && userNames.lastName != null">
        <p class="h3">{{ userNames.firstName + " " + ( userNames.lastName | firstLetter ) }}</p>
    </div>

</div>

<section class="mt-2">
    <h2>Mes projets</h2>
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" routerLink="en-attente" routerLinkActive="active">En attente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="en-cours" routerLinkActive="active">En cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="termines" routerLinkActive="active">Terminés</a>
        </li>
    </ul>

    <div>
        <router-outlet></router-outlet>
    </div>
</section>

<div class="accordion mx-5 mt-5" id="accordionForm">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Modifier mes informations
            </button>
        </h2>
        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading"
            data-bs-parent="#accordionForm">
            <div class="accordion-body">
                <app-profile-names-form></app-profile-names-form>
            </div>
        </div>
    </div>
</div>