<h1>Trouver un artiste</h1>

<section>

    <app-artist-search-form></app-artist-search-form>

</section>

<section>
    <div>
        <h2 class="">Récapitulatif de la requête :</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non cumque neque recusandae maxime iure quia, quas
            incidunt accusantium minima ratione nihil adipisci pariatur ullam doloribus et molestias harum ipsam dolore.
        </p>
    </div>
    <div>
        <p class="h3">Tarif minimum : <span>200€</span></p>
    </div>

    <app-artist-card class="row row-cols-1 row-cols-md-4 g-5"></app-artist-card>



</section>